@media screen and (max-width: 1599px) {
.group{
  width: 38rem;
  transform: translateX(-10%) translateY(-9%);
}

}
@media screen and (max-width: 1449px) {
.group{
  width: 35rem;
  transform: translateX(-10%) translateY(0%);
}
}

@media screen and (max-width: 1399px) {
body,
html {
  font-size: 17px;
}
.group{
  width: 30rem;
  transform: translateX(-15%) translateY(14%);
}
}

@media screen and (max-width: 1299px) {
.group{
  width: 30rem;
  transform: translateX(-15%) translateY(14%);
}
}

@media screen and (max-width: 1199px) {
body,
html {
  font-size: 16px;
}
.group{
  width: 31rem;
  transform: translateX(-15%) translateY(11%);
}
}
@media screen and (max-width: 991px) {
.section1 .padding-between{
padding-block: 4rem;
}
.banner-image{
      transform: translateX(-3%) translateY(0%); /* Shift image if needed */
      width: 34rem;
}
.girl-bg{
    width: 25rem;
}
.group{
  width: 26rem;
  transform: translateX(-15%) translateY(33%);
}
.section5 {
    padding-block: 3rem;
}
}
@media screen and (max-width: 767px) {

.banner-image{
  width: 26rem;
  }
.group{
  width: 25rem;
  transform: translateX(14%) translateY(-12%);
}
.box-container{
  height: 42rem;
}
}
@media screen and (max-width: 575px) {

.group{
  width: 26rem;
  transform: translateX(12%) translateY(5%);

}
.box-container{
  height: 38rem;
}
}
@media screen and (max-width: 470px) {

.group{
  width: 24rem;
  transform: translateX(4%) translateY(6%);
}
.box-container{
  height: 38rem;
}

}
    